<nav id="nav">
    <div class="navbar">
        <div class="logo"><a href="/">folio<div class="square"></div></a></div>
        <ul class="navItems">
            <li style="margin-left: -15px;"><a href="#home">home</a></li>
            <li><a href="#skills">skills</a></li>
            <li><a href="#portfolio">portfolio</a></li>
        </ul>
        <div class="links">
            <a href="https://www.facebook.com/szymek.markulak"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://github.com/MarkulakS"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</nav>