<!-- <div id="cube" class="animbox red-cube slide" #cube>
    <div class="top"></div>
    <div class="cube">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
    </div>
    <div class="bottom"></div>
</div> -->

<div class="container">

    <section class="wrapper" id="home">
        <div class="col about">
            <span class="topline">Hi there</span>
            <h1>who am <span class="multiText">I?</span></h1>
            <!-- <p> Nazywam się <span style="font-weight: bold; font-size: 1.4rem;">Szymon Markulak</span> i jestem programistą
                Front End.<br style="margin-bottom: 10px;">
                Posiadam doświadczenie w tworzeniu stron internetowych z użyciem <span>Angulara</span>, a także w pracy z
                <span>HTML</span> i <span>CSS</span>.
                W trakcie moich studiów stworzyłem w pełni funkcjonalną aplikację dla przychodni lekarskiej, a także kilka innych
                projektów stron, których repozytoria znajdziesz na Githubie, <a href="#portfolio">portfolio</a>.
            </p> -->
            <p> My name is <span style="font-weight: bold; font-size: 1.4rem;">Szymon Markulak</span> and I'm a Front End Developer.
                <br style="margin-bottom: 10px;">
                I have experience in creating websites using <span>Angular</span>, as well as working with <span>HTML</span> and <span>CSS</span>.
                During my studies, I created a fully functional application for a medical clinic, as well as several other website projects whose repositories you can find on Github, <a href="#portfolio">portfolio</a>.
            </p>
            <div class="btns">
                <a href="assets/CV_Markulak_Szymon.pdf">
                    <button>my CV</button>
                </a>
                <a href="#contact">
                    <button>contact me</button>
                </a>
            </div>
        </div>
        <div class="col box">
            <div class="animbox green-cube">
                <div class="top"></div>
                <div class="cube">
                    <span style="--i:0;"></span>
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:3;"></span>
                </div>
                <div class="bottom"></div>
            </div>
        </div>
        <div class="shader">
            <div class="wave"></div>
        </div>
    </section>

    <section class="icons hidden" id="skills" #icons>
        <h2 class="header">Skills</h2>
        <div class="skills">
            <!-- <h4>Poziom zaawansowania</h4> -->
            <!-- <h4>Level of advancement</h4> -->
            <div class="skills-container">
                <div class="skill-box">
                    <p>Angular</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-angularjs.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle">
                                <div class="half full"></div>
                                <div class="half empty"></div>
                            </div>
                            <div class="circle empty"></div>
                        </div>
                    </div>
                </div>
                <div class="skill-box">
                    <p>HTML 5</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-html.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle">
                                <div class="half full"></div>
                                <div class="half empty"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill-box">
                    <p>CSS / SCSS</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-css3.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle">
                                <div class="half full"></div>
                                <div class="half empty"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill-box">
                    <p>TypeScript</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-typescript.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle">
                                <div class="half full"></div>
                                <div class="half empty"></div>
                            </div>
                            <div class="circle empty"></div>
                        </div>
                    </div>
                </div>
                <div class="skill-box">
                    <p>JavaScript</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-javascript.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle empty"></div>
                            <div class="circle empty"></div>
                        </div>
                    </div>
                </div>
                <div class="skill-box">
                    <p>Git</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-git.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle empty"></div>
                            <div class="circle empty"></div>
                        </div>
                    </div>
                </div>
                <div class="skill-box">
                    <p>C#</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-c-sharp.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle empty"></div>
                            <div class="circle empty"></div>
                        </div>
                    </div>
                </div>
                <div class="skill-box">
                    <p>C++</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-c++.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle full"></div>
                            <div class="circle">
                                <div class="half full"></div>
                                <div class="half empty"></div>
                            </div>
                            <div class="circle empty"></div>
                            <div class="circle empty"></div>
                        </div>
                    </div>
                </div>
                <div class="skill-box">
                    <p>Java</p>  
                    <div class="img-box">
                        <img src="assets\pictures\icons8-java.svg">
                        <div class="level">
                            <div class="circle full"></div>
                            <div class="circle">
                                <div class="half full"></div>
                                <div class="half empty"></div>
                            </div>
                            <div class="circle empty"></div>
                            <div class="circle empty"></div>
                            <div class="circle empty"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-box">
            <!-- <p>Jeśli szukasz programisty <span>Front End</span>, który posiada pasję do projektowania stron internetowych <br>i umiejętności do
                ich tworzenia, to jestem właśnie tym, czego potrzebujesz. <a href="#contact">Skontaktuj się</a> ze mną, aby omówić możliwość
                współpracy.</p> -->
                <p>If you are looking for a Front End Developer who has a passion for designing websites and the skills 
                    to create them, then I am exactly what you need. 
                    <a href="#contact">Contact</a> me to discuss the possibility of collaboration.</p>
        </div>
        <div class="carousel">
            <div class="scroll-skills" id="slideset">
                <div class="scroll-box">
                    <img src="assets\pictures\angular_icon.svg">
                    <p>Angular</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\html_icon.svg">
                    <p>HTML 5</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\css3_icon.svg">
                    <p>CSS 3</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\typescript_icon.svg">
                    <p>TypeScript</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\javascript_icon.svg">
                    <p>JavaScript</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\git_icon.svg">
                    <p>Git</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\c++_icon.svg">
                    <p>C++</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\c_sharp_icon.svg">
                    <p>C#</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\java_icon.svg">
                    <p>Java</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\angular_icon.svg">
                    <p>Angular</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\html_icon.svg">
                    <p>HTML 5</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\css3_icon.svg">
                    <p>CSS 3</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\typescript_icon.svg">
                    <p>TypeScript</p>
                </div>
                <div class="scroll-box">
                    <img src="assets\pictures\javascript_icon.svg">
                    <p>JavaScript</p>
                </div>
            </div>
        </div>
    </section>

    <section class="folio hidden" id="portfolio">
        <div class="shader-top">
            <div class="wave"></div>
        </div>
        <h2 class="header">portfolio</h2>
        <div class="text-box">
            <!-- <p>Zapraszam do zapoznania się z moimi projektami, w których prezentuję swoje umiejętności i pomysły na
            projektowanie stron internetowych. W każdym projekcie wykorzystuję swoją wiedzę i doświadczenie, aby stworzyć
            stronę, która jest nie tylko funkcjonalna, ale również atrakcyjna wizualnie.</p> -->
            <p>I invite you to familiarize yourself with my projects, in which I showcase my skills and ideas
                for designing websites. In each project, I use my knowledge and experience to create a website 
                that is not only functional, but also visually attractive.</p>
        </div>
        <div class="glow-box">
            <div class="single-box">
                <a href="https://github.com/MarkulakS/MadimedApp#readme"></a>
                <h3>{{madimed[0]}}</h3>
                <h5>{{madimed[1]}}</h5>
            </div>
            <div class="single-box">
                <a href="https://github.com/MarkulakS/PuchrowiczDesign#readme"></a>
                <h3>{{puchPortf[0]}}</h3>
                <h5>{{puchPortf[1]}}</h5>
            </div>
            <div class="single-box">
                <a href="https://hardbeans-cosmetics.netlify.app"></a>
                <h3>{{hardbeans[0]}}</h3>
                <h5>{{hardbeans[1]}}</h5>
            </div>
        </div>
        <div class="shader-bot">
            <div id="contact" class="wave"></div>
        </div>
    </section>
</div>