<footer>
    <div class="space-top">
        <div class="contact">
            <h3>Skontaktuj się ze mną</h3>
            <p>Masz jakieś pytania? Napisz do mnie!<br>
            <a href="mailto:markulaks17@gmail.com">markulaks17@gmail.com</a></p>
        </div>
        <div class="policy">
            <h3>Linki</h3>
            <p>
                <a target="_blank" href="https://icons8.com/icon/v8RpPQUwv0N8/html-5">Html 5</a>, 
                <a target="_blank" href="https://icons8.com/icon/j9DnICNnlhGk/angularjs">AngularJS</a>, 
                <a target="_blank" href="https://icons8.com/icon/wpZmKzk11AzJ/typescript">TypeScript</a>, 
                <a target="_blank" href="https://icons8.com/icon/tGvHBPJaKqEd/javascript">JavaScript</a>,<br>
                <a target="_blank" href="https://icons8.com/icon/7gdY5qNXaKC0/css3">CSS3</a>, 
                <a target="_blank" href="https://icons8.com/icon/12599/github">GitHub</a>, 
                <a target="_blank" href="https://icons8.com/icon/TpULddJc4gTh/c%2B%2B">C++</a>, 
                <a target="_blank" href="https://icons8.com/icon/55251/c-sharp-logo">C Sharp Logo</a>, 
                <a target="_blank" href="https://icons8.com/icon/13679/java">Java</a>, 
                <a target="_blank" href="https://icons8.com/icon/38389/git">Git</a>
                icons by <a class="underline" target="_blank" href="https://icons8.com">Icons8</a>
            </p>
            <p>
                <a class="underline" target="_blank" href="/">Polityka prywatności</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="space-bot">
        <p>© 2023 created by Szymon Markulak</p>
    </div>
</footer>
